

.column1{
    float: left;
    width: 65%;
    margin-right: 24px;

    @media (max-width: 1008px) {
        width: 100%;
    }
}
.column1 .title{
    margin-bottom: 24px;
}
.title input{
    width: 100%;
    border-radius: 4px;
    padding: 16px 24px
}

.column1 .location{
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

.location select{
    width: 48%;
    border: none;
    border-radius: 4px;
    padding: 15px 24px;
}
.description, .requirements, .responsibilities, .benefits{
    margin-bottom: 24px;
}
.description label, .requirements label, .responsibilities label, .benefits label{
    background: black;
    color: white;
    padding: 8px 24px;
    
}
.column2{
    float: left;
    width: 32%;
    padding: 0px;
    background: transparent;  
}
@media (max-width: 1008px) {
    .column1, .column2{
        width: 100%;
    }
}
.column2 .type{
    margin-bottom: 24px;
}

.type select{
    width: 100%;
    border-radius: 4px;
    border: none;
    padding: 15px 24px
}

.column2 .visibility{
    background: var(--white);
    padding: 24px;
    margin-bottom: 12px;
}
.visibility label{
    margin-bottom: 30px;
}
.column2 .seoSettings{
    background: var(--white);
    padding: 24px;
    margin-bottom: 12px;
}
.seoSettings label{
    margin-bottom: 30px;
}
.seoSettings input, .seoSettings textarea{
    width: 100%;
    border-radius: 4px;
    padding: 16px 24px;
    background: rgba(231, 235, 239, 0.6);
}
.seoSettings textarea{
    height: 133px;
}
.seoSettings .title{
    margin-bottom: 15px;

}
.seoSettings .slug{
    margin-bottom: 16px;
    
}
.seoSettings .metaDescription{
    background: rgba(231, 235, 239, 0.6);
    
}

.visibility .container {
    display: block;
    position: relative;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* On mouse-over, add a grey background color */
.visibility .container:hover input ~ .checkmark {
    background-color: #ccc;
}
