.section{
}
.section_header{
    margin-bottom: 48px;
}

.section_header a{
    text-decoration: none;
}

.section_header h2{
    display: contents;
    margin-right:24px;
}
.section_header_buttons{
    justify-content: right;
    display: flex;
}
@media (min-width: 1008px) {
    .section_header_buttons{
        float: right;
    }
}
.section_header_button_publish{
    background: black;
    color: white;
    padding: 10px;
    height: 48px;
    display: flex;
    width: 154px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
.section_header_button_draft{
    background: transparent;
    border: 1px solid black;
    margin-right: 16px;
    color: black;
    height: 48px;
    display: flex;
    width: 154px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
    

